@import '../libraries/pannellum.css';

.panoramas {
  width: 100%;
  height: 100vh;
}

.panorama_wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

#panorama_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

#loading_pano {
  display: none;
  position: absolute;
  top: calc(50% - 18px);
  left: calc(50% - 18px);
  color: white;
  opacity: 0;
  z-index: 12;
  line-height: 0;
  background-color: #000;
  padding: 7px;
  border-radius: 50%;
}

#loading_pano svg {
  width: 30px;
  height: 30px;
}

.custom-hotspot .div_marker_wrapper,
.custom-hotspot .div_pointer_wrapper {
  padding: 8px 8px;
  border-radius: 40px;
  text-align: center;
  min-width: 14px;
  min-height: 14px;
  font-size: 16px;
  background-color: #ffffff;
  color: #000000;
}

.tooltip_text {
  position: absolute;
  z-index: 40;
  max-width: 60%;
  top: 0;
  left: 0;
  margin-left: 0px;
  background-color: white;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 10px;
  transform: translate(0px, 0px) translateZ(9999px);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.tooltip_image {
  position: absolute;
  z-index: 40;
  width: 250px;
  height: 150px;
  top: 0;
  left: 0;
  margin-left: 0px;
  margin-top: 0;
  background-color: white;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 10px;
  transform: translate(0px, 0px) translateZ(9999px);
  opacity: 0;
  background-size: cover;
  border: 2px solid #fff;
  pointer-events: none;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.right-top-controls,
.left-top-controls {
  position: absolute;
  top: 10px;
  z-index: 42;
}

.right-top-controls {
  right: 10px;
}

.left-top-controls {
  left: 10px;
}

.center-bottom-controls {
  position: absolute;
  bottom: 10px;
  z-index: 42;
  left: 50%;
  display: flex;
  gap: 5px;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  gap: 15px;
}

.center-bottom-controls {
  color: #fff;
  display: flex;
  align-items: center;
}

.center-bottom-controls svg {
  cursor: pointer;
}

.right-top-controls .controls_btn,
.left-top-controls .controls_btn {
  border-radius: 5px;
}

.bottom-controls {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 42;
}

.controls_btn {
  background-color: rgba(0, 0, 0, 0.6);
  color: rgb(255, 255, 255);
  font-size: 35px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#compass_icon.compass {
  color: #fff;
  line-height: 0;
  border-radius: 50%;
}

.btn-control {
  border-radius: 5px;
}

.btn-control:active,
.btn-control:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

@media (max-width: 600px) {
  .btn-control.small-hidden {
    display: none;
  }
}

.pnlm-compass {
  bottom: 0;
  display: none !important;
  opacity: 0 !important;
  pointer-events: none !important;
}

@font-face {
  font-family: 'compass';
  src: url('../libraries/webfonts/compass.eot');
  src: url('../libraries/webfonts/compass.eot') format('embedded-opentype'),
    url('../libraries/webfonts/compass.ttf') format('truetype'),
    url('../libraries/webfonts/compass.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-compass'],
[class*=' icon-compass'] {
  font-family: 'compass' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-compass:before {
  content: '\e902';
  transform: rotate(40deg);
}
