@import '../libraries/pannellum.css';

.panoramas {
  width: 100%;
  height: 100vh;
}

#panorama_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

#loading_pano {
  display: none;
  font-size: 36px;
  position: absolute;
  top: calc(50% - 18px);
  left: calc(50% - 18px);
  color: white;
  opacity: 0;
  z-index: 12;
}
